 body {
    background-color: #1d2342;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
  }

button {
    background-color: #1253a7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
  }
  
     .passo {
       display: none;
    }

     .passo.ativo {
        display:block;
     }